In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Reading the dataset

In [17]:
df = pd.read_csv ('StudentsPerformance.csv')

In [18]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

# Number of males and females participated in the test

In [28]:
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

-Number of females that participated in the test is more than males by 36

# Students' parental level of education

In [29]:
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

-Most of the students come from some college.
-Least persons that participated in the test are those who having master's degree.

# Most score on average for math,reading and writing based on gender

In [30]:
avg=df.groupby('gender')['math score'].mean()

In [31]:
avg.nlargest(1)

gender
male    68.821577
Name: math score, dtype: float64

In [32]:
avg=df.groupby('gender')['reading score'].mean()

In [33]:
avg.nlargest(1)

gender
female    72.590734
Name: reading score, dtype: float64

In [38]:
avg=df.groupby('gender')['writing score'].mean()

In [39]:
avg.nlargest(1)

gender
female    72.467181
Name: writing score, dtype: float64

-On an average, male scored more in math score and female scored more in both reading and writing score.
-Average of maths is comparitively low with respect to reading and writing score.

# Most score on average for math,reading and writing based on test preparation course

In [40]:
avg=df.groupby('test preparation course')['math score'].mean()

In [41]:
avg.nlargest(1)

test preparation course
completed    69.96648
Name: math score, dtype: float64

In [42]:
avg=df.groupby('test preparation course')['reading score'].mean()

In [43]:
avg.nlargest(1)

test preparation course
completed    74.175978
Name: reading score, dtype: float64

In [44]:
avg=df.groupby('test preparation course')['writing score'].mean()

In [45]:
avg.nlargest(1)

test preparation course
completed    74.684358
Name: writing score, dtype: float64

-It is clearly see that the participants who completed the test preparation course scored well in all theree tests.

# Scoring variation for math, reading and writing based on gender

In [46]:
var =df.groupby('gender')['math score'].std()

In [47]:
var

gender
female    16.029928
male      14.556411
Name: math score, dtype: float64

In [48]:
var =df.groupby('gender')['reading score'].std()
var

gender
female    14.411018
male      14.149594
Name: reading score, dtype: float64

In [49]:
var =df.groupby('gender')['writing score'].std()
var

gender
female    14.844842
male      14.227225
Name: writing score, dtype: float64

-We can observe more a similiar variation for both males and females in reading and writing score.
-But it is not as close in mathscore

# Scoring variation for math, reading and writing based on test preparation course

In [50]:
var =df.groupby('test preparation course')['math score'].std()
var

test preparation course
completed    14.521847
none         15.705689
Name: math score, dtype: float64

In [51]:
var =df.groupby('test preparation course')['writing score'].std()
var

test preparation course
completed    13.236412
none         15.041667
Name: writing score, dtype: float64

In [52]:
var =df.groupby('test preparation course')['reading score'].std()
var

test preparation course
completed    13.537572
none         14.608896
Name: reading score, dtype: float64

-We can see more varitions in score for the participants who do not completed the test preparation course.

# Top 25% of students based on their maths score

In [57]:
df.sort_values(by='math score',ascending=False).head(250)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
999,male,group E,bachelor's degree,standard,completed,100,100,100
996,male,group A,some college,standard,completed,100,96,86
515,female,group E,some college,standard,none,100,92,97
517,female,group E,associate's degree,standard,none,100,100,100
516,female,group E,bachelor's degree,standard,none,100,100,100
...,...,...,...,...,...,...,...,...
856,male,group E,some high school,standard,completed,77,76,77
855,male,group E,associate's degree,free/reduced,completed,77,69,68
854,male,group D,some high school,standard,completed,77,68,69
853,male,group D,associate's degree,free/reduced,none,77,78,73
852,male,group D,some college,free/reduced,none,77,62,64

-Top 25% (250 students) are sorted so that the management can give the bonus points to them.